<h1>Welcome to the Car Simulator</h1>
<p>Find me in app/views/home/index.html.erb</p>
<form method="get" action="/car/new_car">
  <input type="text" name="make"/>
  <input type="text" name="year"/>
  <input type="submit" value="Make Car"/>
</form>
