<h1>Yer Car</h1>
<p>Make: <%= @car.make %></p>
<p>Year: <%= @car.year %></p>
<p>Speed: <%= @car.speed %></p>

<a href="/car/speed_up" id="speed_up"><button><img src="http://2.gravatar.com/avatar/8b11471c8827258d573fa2c4b2f6b8b2?s=70&r=g"/></button></a>
