<h1>HILO</h1>
<h2><%= @returnwin %></h2>
<h3><%= @returnloss %></h3>
<br/>
<br/>
<!-- <input type="text" name="car"></input>
 <input type="button" onclick="run"></input> -->
<form action="run" method="get">
  <input type="text" name="guess"/>
  <input type="submit" value="Submit Number"/>
</form>
<input type="button" value="MF DOOM" onclick="choose()"></input>
